<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Esencia Todo Example</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../node_modules/bootswatch/flatly/bootstrap.min.css">
		<link rel="stylesheet" href="./styles.css">
	</head>
	<body>
		<div id="app"></div>

		<script id="tmpl-layout" type="text/template">
			<div class="container block">
				<h1>Posts from <a href="https://jsonplaceholder.typicode.com/">JSONPlaceholder</a></h1>
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<label>User:</label>
							<div id="user"></div>
						</div>

						<div class="form-group">
							<label>Sort field:</label>
							<div id="sort"></div>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="form-group">
							<label>Query:</label>
							<div id="query"></div>
						</div>

						<div class="form-group" id="posts"></div>
					</div>
				</div>
			</div>
		</script>

		<script id="tmpl-query" type="text/template">
			<input type="search" class="form-control" name="<% print(name) %>" value="<% print(value) %>">
		</script>

		<script id="tmpl-select" type="text/template">
			<select class="form-control" name="<% print(name) %>">
				<% _(items).each(function(itemTitle, itemValue) { %>
					<option value="<% print(itemValue) %>" <% print(value === itemValue ? 'selected' : '') %>><% print(itemTitle) %></option>
				<% }); %>
			</select>
		</script>

		<script id="tmpl-posts" type="text/template">
			<div class="block">
				<ul class="list-group">
					<% _(posts).each(function(post) { %>
						<li class="list-group-item">
							<h4 class="list-group-item-heading">Post <% print(post.id) %>: <% print(post.title) %></h4>
							<p class="list-group-item-text"><% print(post.body) %></p>
							<div class="text-info">User: <% print(post.user.name) %></div>
						</li>
					<% }); %>
				</ul>
			</div>
		</script>

		<script id="tmpl-preloader" type="text/template">
			<div class="text-center">Loading...</div>
		</script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<script src="../../node_modules/requirejs/require.js"></script>
		<script src="../common/config.js"></script>
		<script>require(['app']);</script>
	</body>
</html>
