<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Esencia Todo Example</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../node_modules/bootswatch/flatly/bootstrap.min.css">

		<link rel="stylesheet" href="./styles.css">
	</head>
	<body>
		<div id="todos-app" class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-push-1 col-md-8 col-md-push-2">
					<div class="page-content">
						<header><h1 class="page-header">Todos</h1></header>

						<section>
							<input id="new-todo-title" type="text" class="form-control input-lg" placeholder="What needs to be done?">

							<div id="todos-wrap" style="display: none;">
								<div class="checkbox todos-toggle-all"><label><input id="toggle-all" type="checkbox"> Mark all as complete</label></div>
								<ul id="todos" class="todos"></ul>
								<div id="footer"></div>
							</div>
						</section>
					</div>

					<div class="todos-help">Double-click to edit a todo.</div>
				</div>
			</div>
		</div>

		<script id="tmpl-todos-item" type="text/template">
			<li class="js-item todos_item<% print(todo.completed ? ' todos_item__completed' : '') %><% print(todo.editing ? ' todos_item__editing' : '') %>">
				<div class="todos_item-inner">
					<input type="checkbox" class="js-item-toggle todos_item-toggle"<% print(todo.completed ? ' checked' : '') %>>
					<div class="js-item-title todos_item-title"><% print(todo.title) %></div>
					<a href="javascript:void(0);" class="js-item-remove todos_item-remove" title="Remove item"><i class="glyphicon glyphicon-trash"></i></a>
				</div>
				<input type="text" class="js-item-input form-control todos_item-input" value="<% print(todo.title) %>">
			</li>
		</script>

		<script id="tmpl-todos-footer" type="text/template">
			<footer class="todos-footer bg-default clearfix">
				<div class="todos-count pull-left"><strong><% print(totalCount - completedCount) %></strong> items left</div>
				<% if (completedCount) { %><button id="clear-completed" type="button" class="btn btn-primary btn-xs pull-right">Clear <strong><% print(completedCount) %></strong> completed item</button><% } %>
			</footer>
		</script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<script src="../../node_modules/requirejs/require.js"></script>
		<script src="../config.js"></script>
		<script>require(['./index']);</script>
	</body>
</html>
